body {
    background-color:rgb(25, 163, 255);
    font-family: sans-serif;
}



nav{
    background-color: rgba(0, 139, 232);
    color: white;
    width: 100%;
}
label.mylogo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}



nav ul {
    float: right;
    margin-right: 20px;
  }

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

nav ul li a{
    display: block;
    color: white;
    text-decoration: unset;    
    padding: 5px 30px;
    border-radius: 3px;
    font-size: 30px;
    text-transform: uppercase;
    transform: scale(0.8);
    transition: all 0.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
    
}
nav ul li a:hover{
    background-color: rgba(0, 139, 232, .6);
    color: rgba(255, 255, 255);
    
}


.title{
    padding-top: 150px;
    height: 300px;
    margin: auto;
    background: linear-gradient(to top, rgb(25, 163, 255) 5%, transparent 100%), linear-gradient(to top, transparent, rgba(0,0,0,50%)), rgb(25, 163, 255) url("Imagens/logo.jpg") no-repeat center / cover;
    text-align: center;
}

.title h1{
    margin: 1rem 0;
    font-size: 90px;
    
}

.title p{
    font-size: 35px;
    padding-top: .01%;
    margin: auto
}



#conteudo{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
    margin-bottom: 4%;
    border-radius: 10px;
}



    




#tituloDestaque{
    //background-color: rgba(0, 139, 232);
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: rgba(0, 139, 232) 2px solid;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    color: rgba(0, 139, 232);
    
}

#noticias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     
    margin: 0 auto;
    
    margin-left: 2%;
    margin-right: 2%;
}

#noticias a{
    color: rgba(128, 128, 128, 0.9);
    text-decoration: unset;
}


.noticiaDestaque{
    display: flex;
    justify-content: space-between;
    border: white 1px solid;
    border-radius: 25px;
    margin: 10px;
    box-shadow: grey 2px 2px 5px;
    width: 48%;
    height: 100%;
    flex: 1 1 0px;
    flex-basis: 48%;
    flex-wrap: wrap;
    
    
}

.imgNoticia{
    width: 100%;
    height: auto;
    min-width: 0;
    margin : 1%;
    flex-basis: 50%;
    border-radius: 25px;
    
    
}




.noticiaTexto{
    margin-right: 2%;
    text-align: :left;
    flex-basis: 46%;
    padding: 2%;
    
}
.noticiaTexto strong{
    color: royalblue;
}

.noticiaDestaque a{
    display: flex;
    width: 100%;
    height: 100%;
     
}

.noticiaDestaque a:hover{
    border-radius: 25px;
    box-shadow: grey 5px 5px 25px;
}

#rodape{
    background-color: rgba(36, 113, 175, 0.76);
    margin-top: 10px;
    border-top: white 1px solid;
    
    
}

#redesSociais{
    margin-right: 50px;
    margin-top: 10px;
    color: white;
    padding-bottom: 40px;
    //float: right;
    
    
}

#redesSociais img{
    
    
}

#redesSociais a:hover{
    opacity:60%;
    }
.redesImg{
    margin-left: 10px;
    float: right;
}