body {
    background-color:rgb(200,200,200);
    font-family: sans-serif;
}

#cabecalho {
    background-color: rgba(0, 139, 232);
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
    text-align: center;
    color: white;
}

#conteudo{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

a {
    color: blue;
    text-decoration: unset;
}

#navbar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    

}
#navbar a{
    display: block;
    padding: 20px;
    
}

#imLogo{
    width: 100%;
    
}

#tituloDestaque{
    background-color: rgba(0, 139, 232);
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
    text-align: center;
    color: white;
}

#noticias{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     
     margin: 0 auto;
     //flex-basis: 60%;
}


.noticiaDestaque{
    display: flex;
    justify-content: space-between;
    border: gray 1px solid;
    margin: 10px;
    box-shadow: grey 2px 2px 5px;
    width: 48%;
    height: 100%;
    
    flex-basis: 40%;
    flex-wrap: wrap;
    
}

.imgNoticia{
    width: 100%;
    height: 100%;
    min-width: 0;
    margin : 1%;
    flex-basis: 50%;
    
}




.noticiaTexto{
    //margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    flex-basis: 46%;
    
}

#rodape{
    display: flex;
    justify-content: end;
    background-color: rgba(36, 113, 175, 0.76);
    margin-top: 10px;
    border: black 1px solid;
    
}

#redesSociais{
    margin-right: 50px;
    margin-top: 10px;
    color: white;
    padding-bottom: 10px;
}
