body {
    background-color:rgb(200,200,200);
    font-family: sans-serif;
}

#cabecalho {
    background-color: rgba(0, 139, 232);
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
    text-align: center;
    color: white;
}

#conteudo{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}


#navbar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    

}
#navbar a{
    display: block;
    padding: 20px;
    color: blue;
    text-decoration: unset;
    
}

#imLogo{
    width: 100%;
    
}

#tituloDestaque{
    background-color: rgba(0, 139, 232);
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
    text-align: center;
    color: white;
}

#noticias{
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     
     margin: 0 auto;
     //flex-basis: 60%;
}

#noticias a{
    color: black;
    text-decoration: unset;
}


.noticiaDestaque{
    display: flex;
    justify-content: space-between;
    border: gray 1px solid;
    border-radius: 25px;
    margin: 10px;
    box-shadow: grey 2px 2px 5px;
    width: 48%;
    height: 100%;
    
    flex-basis: 48%;
    flex-wrap: wrap;
    
}

.imgNoticia{
    width: 100%;
    height: auto;
    min-width: 0;
    margin : 1%;
    flex-basis: 50%;
    border-radius: 25px;
    
}




.noticiaTexto{
    //margin-left: 2%;
    margin-right: 2%;
    text-align: :left;
    flex-basis: 46%;
    
}

.noticiaDestaque a{
    display: flex;
    width: 100%;
    height: 100%;
     
}

.noticiaDestaque a:hover{
    border-radius: 25px;
    box-shadow: grey 5px 5px 25px;
}

#rodape{
    display: flex;
    justify-content: end;
    background-color: rgba(36, 113, 175, 0.76);
    margin-top: 10px;
    border: black 1px solid;
    
    
}

#redesSociais{
    margin-right: 50px;
    margin-top: 10px;
    color: white;
    padding-bottom: 10px;
    
    
}

#redesSociais a:hover{
    opacity:60%;
    }
.redesImg{
    padding-left: 10px;
}