body {
    background-color:rgb(200,200,200);
    font-family: sans-serif;
}



nav{
    background-color: rgba(0, 139, 232);
    color: white;
    //height: 80px;
    width: 100%;
}
label.mylogo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
#logo{
    position: relative;
    //text-align: center;
}

#imLogo{
    width: 100%;
    height: 50%;
    
}

.mylogo_over{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    line-height: 80px;
    //padding: 0 100px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mylogo_over2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    line-height: 80px;
    //padding: 0 100px;
    //font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul {
    float: right;
    margin-right: 20px;
  }

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

nav ul li a{
    display: block;
    //padding-top: 20px;
    color: white;
    text-decoration: unset;
    //margin-right: 90%;
    padding: 5px 30px;
    border-radius: 3px;
    font-size: 30px;
    text-transform: uppercase;
    transform: scale(0.8);
    transition: all 0.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
nav ul li a:hover{
    //background-color: red;
    //font-size: 32px;
    transform: scale(1);
    //border: white 1px solid;
    
}






#conteudo{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%;
    border-radius: 10px;
}



    




#tituloDestaque{
    background-color: rgba(0, 139, 232);
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
    text-align: center;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    
}

#noticias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     
    margin: 0 auto;
    
    margin-left: 2%;
    margin-right: 2%;
}

#noticias a{
    color: rgba(128, 128, 128, 0.9);
    text-decoration: unset;
}


.noticiaDestaque{
    display: flex;
    justify-content: space-between;
    border: white 1px solid;
    border-radius: 25px;
    margin: 10px;
    box-shadow: grey 2px 2px 5px;
    width: 48%;
    height: 100%;
    
    flex-basis: 48%;
    flex-wrap: wrap;
    
}

.imgNoticia{
    width: 100%;
    height: auto;
    min-width: 0;
    margin : 1%;
    flex-basis: 50%;
    border-radius: 25px;
    
    
}




.noticiaTexto{
    //margin-left: 2%;
    margin-right: 2%;
    text-align: :left;
    flex-basis: 46%;
    padding: 2%;
    
}
.noticiaTexto strong{
    color: royalblue;
}

.noticiaDestaque a{
    display: flex;
    width: 100%;
    height: 100%;
     
}

.noticiaDestaque a:hover{
    border-radius: 25px;
    box-shadow: grey 5px 5px 25px;
}

#rodape{
    //display: flex;
    //justify-content: end;
    background-color: rgba(36, 113, 175, 0.76);
    margin-top: 10px;
    border: black 1px solid;
    
    
}

#redesSociais{
    margin-right: 50px;
    margin-top: 10px;
    color: white;
    padding-bottom: 10px;
    //float: right;
    
    
}

#redesSociais img{
    //float: right;
}

#redesSociais a:hover{
    opacity:60%;
    }
.redesImg{
    padding-left: 10px;
}